<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CS50X CAPSTONE</title>

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>

    <!-- Bootstrap Icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <div class="container-fluid vh-100 d-flex flex-column">
        <h1 class="text-center mt-auto">Launch</h1>
        <form class="container-fluid mt-3 mb-auto" id="table-form">
            <div class="d-flex flex-column">
                <div id="input-container" class="row border border-5 bg-info bg-gradient shadow shadow-5 p-5">
                    <div class="col d-flex flex-column p-0">
                        <div class="col">
                            <input id="route-input" placeholder="Enter Route" class="form-control border border-5 border-secondary" required>
                        </div>
                        <div id="route-input" class="d-flex flex-column p-0 input-group"></div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center mt-3">
                <input id="submit" class="btn btn-success col-4 fs-3" type="submit"></input>
            </div>
        </form>
    </div>
    <script type="module" src="../static/Launch/launchPage.mjs"></script>
</body>

</html>